.product-info {
	max-width: 700px;
	margin: 20px auto 0;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ddd;
}
.product-info h1 {
	font-size: 32px;
	color: #000;
}
.product-info p {
	color: #666;
	line-height: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.product-info a {
	color: #069;
}
.product-info button {
	border: none;
	background: #da552f;
	padding: 16px;
	border-radius: 5px;
}
.product-info button a {
	text-decoration: none;
	color: #fff;
}
